/* makes sizing simpler */
/* remove default spacing */
/* force styling of type through styling, rather than elements */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* dark mode user-agent-styles */

:root {
  --font-clamps: clamp(2.5rem, 3vw, 3rem);
  color-scheme: dark light;
}

/* Reset default browser styling */
html,
body,
p,
a,
img {
  border: 0;
  font-size: 100%;
  font-family: "Courier New", monospace;
}

body {
  display: grid;
  place-items: center;
  min-height: 100svh;
  transition: background-color 1s ease;
}

main {
  text-align: center;
  padding: 10vh 20px;
}

h1, h2, h3 {
  text-wrap: balance;
}

h1{
  font-size: clamp(1.5rem, 1.5vw, 2.25rem);
  margin-bottom: 2em;
}

h2, h3{
  margin-top: 2em;
  font-size: clamp(1.5rem, 1.25vw, 2rem);
}

p {
  font-size: clamp(1.5rem, 1vw, 1.8rem);
  text-wrap: balance;
}

p>a {
  display: inline-block;
  margin: 0.5em 0;
  text-decoration: none;
  color: var(--light-color);
  background-color: transparent;
  text-wrap: balance;
}

#scheme-switcher, #sort-buttons {
  border: none;
  background: none;
}

#scheme-switcher {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em 1em 0 0;
}

#sort-buttons {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em 0 0 1em;
}

#scheme-icon, #sort-icon{
  width: var(--font-clamps);
  cursor: pointer;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
}

.nav-btn {
  width: clamp(2.5em, 3vw, 3em);
  height: auto;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 0 -1px inset;
}

.nav-btn path {
  fill: currentColor;
}

.nav-btn:hover {
  opacity: 0.75;
}

img.circle {
  border-radius: 50%;
  min-width: 200px;
  width: 50%;
  height: 50%;
  padding: 2em;
}


@media (hover: none) {

  .nav-btn:hover,
  .nav-btn:focus,
  .nav-btn:active {
    opacity: 1;
    /* Reset to default */
  }

  @media screen and (orientation: landscape) {
    main {
      text-align: center;
      padding: 20vh 20px;
    }
  }
}

@media screen and (max-width: 450px) {
  h1{
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin-bottom: 2em;
  }
  
  h2, h3{
    margin-top: 2em;
    font-size: clamp(1.25rem, 1.25vw, 1.75rem);
  }
  
  p {
    font-size: clamp(1rem, 1vw, 1.5rem);
    text-wrap: balance;
  }
}
